# Backend .gitignore
prescription_calculator_backend/.bundle
prescription_calculator_backend/.env*
prescription_calculator_backend/!.env*.erb
prescription_calculator_backend/log/*
prescription_calculator_backend/tmp/*
prescription_calculator_backend!/log/.keep
prescription_calculator_backend!/tmp/.keep
prescription_calculator_backend/tmp/pids/*
prescription_calculator_backend!/tmp/pids/
prescription_calculator_backend!/tmp/pids/.keep
prescription_calculator_backend/storage/*
prescription_calculator_backend!/storage/.keep
prescription_calculator_backend/tmp/storage/*
prescription_calculator_backend!/tmp/storage/
prescription_calculator_backend!/tmp/storage/.keep
prescription_calculator_backend/config/master.key

# Frontend .gitignore
prescription_calculator_frontend/logs
prescription_calculator_frontend/*.log
prescription_calculator_frontend/npm-debug.log*
prescription_calculator_frontend/yarn-debug.log*
prescription_calculator_frontend/yarn-error.log*
prescription_calculator_frontend/pnpm-debug.log*
prescription_calculator_frontend/lerna-debug.log*
prescription_calculator_frontend/node_modules
prescription_calculator_frontend/dist
prescription_calculator_frontend/dist-ssr
prescription_calculator_frontend/*.local
prescription_calculator_frontend/.vscode/*
prescription_calculator_frontend/!.vscode/extensions.json
prescription_calculator_frontend/.idea
prescription_calculator_frontend/.DS_Store
prescription_calculator_frontend/*.suo
prescription_calculator_frontend/*.ntvs*
prescription_calculator_frontend/*.njsproj
prescription_calculator_frontend/*.sln
prescription_calculator_frontend/*.sw?